---
import { Image } from '@astrojs/image/components';
import Fauxica from '../../images/fauxica.png';
import FauxicaGif from '../../images/fauxica.gif';
---
<div id="Fauxica" class="w-full h-full bg-[#171814] pt-[75px]">
    <header class="flex justify-around bg-transparent min-w-full">
        <div id="header-text" class="text-7xl text-white font-['SugarMagic']">Web design</div>
    </header>
    <div id="content" class="w-[70%] mx-auto flex items-center gap-8 py-16"> 
        <div id="content-text" class="text-white font-['Outfit'] text-start w-[40%]">
            <p class="text-3xl font-bold text-[#DBCDAA]">LANDING PAGE</p>
            <p class="text-xl text-[#DBCDAA] pb-5">Practice - Tutorial</p>
            <p class="text-2xl text-justify">
                A landing page for a luxury fashion brand emphasises affordable luxury with sleek, modern design showcasing high-quality product images. The page highlights sustainability and appeals to stylish, ethical consumers. The goal is to create a visually engaging experience that communicates the brand's unique value proposition.
            </p>
        </div>
        <div id="content-image" class="h-[100%] w-[100%]">
            {/* @ts-ignore */}
            <Image src={Fauxica} alt="Fau" class="h-full w-full" />
        </div>
    </div>
    <div id="fauxica-gif" class="">
        {/* @ts-ignore */}
        <img src={FauxicaGif.src} alt="fauxica-gif-showcase" />
    </div>
</div>