---
---
<header class="flex justify-around p-16 bg-transparent absolute min-w-full bg-[#726A5F]">
    <div id="header-text" class="text-9xl text-[#FEE9C9] font-bold font-['SugarMagic']">My Work</div>
</header>