---
import { Image } from '@astrojs/image/components';
import Jazzify from '../../images/jazzify.png';
import JazzifyChat from '../../images/jazzify-chat.png'
---
<div id="jazzify" class="w-full h-full bg-[#171814] pt-[75px]">
    <div id="content" class="w-[70%] mx-auto flex items-center gap-8 py-16"> 
        <div id="content-image" class="h-[100%] w-[100%]">
            {/* @ts-ignore */}
            <Image src={Jazzify} alt="jazzify-home" class="h-full w-full" />
        </div>
        <div id="content-text" class="text-white font-['Outfit'] text-start w-[40%]">
            <p class="text-3xl font-bold text-[#DBCDAA]">JAZZIFY</p>
            <p class="text-xl text-[#DBCDAA] pb-5">College Project</p>
            <p class="text-2xl text-justify">
                Welcome to our jazz radio website where we revive the amazing world of jazz! Immerse yourself in the energetic sounds of jazz, connect with fellow enthusiasts through our live chat option, and enjoy a vibrant website design that reflects the spirit of this legendary music genre. Join us for an unforgettable jazz experience!            </p>
        </div>
    </div>
    <div id="jazzify-showcase" class="h-[35vw] w-full bg-white flex justify-center items-center p-36 mt-36">
        {/* @ts-ignore */}
        <div class="absolute z-20 translate-x-[-400px] translate-y-[-100px]"><Image src={Jazzify} alt="jazzify-home" class="h-[400px]" /> <p class="font-['Outfit'] font-bold text-2xl text-end"> ← Landing page</p> </div>
        <div class="absolute z-0"><div class="min-h-[400px] bg-[#DBCDAA] w-[500px] rounded-xl">    
        </div></div>
        {/* @ts-ignore */}
        <div class="absolute z-10 translate-x-[400px] translate-y-[100px]"><p class="font-['Outfit'] font-bold text-2xl text-start"> Live chat →  </p> <Image src={JazzifyChat} alt="jazzify-live-chat" class="h-[400px]" /></div>
    </div>
</div>