---

---
<div id="aboutme" class="w-full h-full bg-[#171814] pt-[125px]">
    <div id="content-header" class="h-fit w-[70%] mx-auto pb-20">\
        <p id="section-header" class="font-['SugarMagic'] text-white text-8xl">About me</p>
    </div>
    <div id="content" class="h-fit w-[70%] mx-auto flex flex-col items-center"> {/*change height later*/}
        <div id="stats" class="flex justify-between w-full">
            <div class="education">
                <p id="education-header" class="text-start font-['SugarMagic'] text-white text-4xl">Education</p>
                <ul id="list-of-schools flex justify-between">
                    <li class=" font-['Outfit'] text-white font-bold text-lg my-5">
                        <p class="font-['Outfit'] text-justify">PSG COLLEGE OF TECHNOLOGY</p>
                        <div>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] pr-2">2020 - Present</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] inline pr-2">MSc. Software Systems</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] float-right pl-2">8.70 CGPA</p>
                        </div>
                    </li>
                    <li class=" font-['Outfit'] text-white font-bold text-lg my-5">
                        <p class="font-['Outfit'] text-justify">SUGUNA PIP SCHOOL</p>
                        <div>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] pr-2">2018 - 2020</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] inline pr-2">Grade 12</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] float-right pl-2">91.40 %</p>
                        </div>
                    </li>
                    <li class=" font-['Outfit'] text-white font-bold text-lg my-5">
                        <p class="font-['Outfit'] text-justify">PSG COLLEGE OF TECHNOLOGY</p>
                        <div>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] pr-2">2012 - 2018</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] inline pr-2">Grade 10</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] float-right pl-2">93.40 %</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="skills">
                <p id="skills-header" class="text-start font-['SugarMagic'] text-white text-4xl">Skills</p>
                <ul id="list-of-schools flex justify-between">
                    <li class="font-['Outfit'] text-white font-bold text-lg my-5">
                        Figma
                    </li>
                        <li class="font-['Outfit'] text-white font-bold text-lg my-5">
                        Adobe Photoshop
                    </li>
                        <li class="font-['Outfit'] text-white font-bold text-lg my-5">
                        Adobe Illustrator
                    </li>
                        <li class="font-['Outfit'] text-white font-bold text-lg my-5">
                        Affinity Designer
                    </li>
                        <li class="font-['Outfit'] text-white font-bold text-lg my-5">
                            Krita
                        </li>
                        <li class="font-['Outfit'] text-white font-bold text-lg my-5">
                        HTML/CSS/JS
                    </li>
                </ul>
            </div>
            <div class="languages">
                <p id="languages-header" class="text-start font-['SugarMagic'] text-white text-4xl">Languages</p>
                <ul id="list-of-languages flex justify-between">
                    <li class=" font-['Outfit'] text-white font-bold text-lg my-5">
                        <div>
                            <p class="text-white font-bold font-['Outfit'] inline pr-8">Malayalam</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] float-right pl-8">Mother-tongue</p>
                        </div>
                    </li>
                    <li class=" font-['Outfit'] text-white font-bold text-lg my-5">
                        <div>
                            <p class="text-white font-bold font-['Outfit'] inline pr-8">English</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] float-right pl-8">Fluent</p>
                        </div>
                    </li>
                    <li class=" font-['Outfit'] text-white font-bold text-lg my-5">
                        <div>
                            <p class="text-white font-bold font-['Outfit'] inline pr-8">Tamil</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] float-right pl-8">Fluent</p>
                        </div>
                    </li>
                    <li class=" font-['Outfit'] text-white font-bold text-lg my-5">
                        <div>
                            <p class="text-white font-bold font-['Outfit'] inline pr-8">Hindi</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] float-right pl-8">Fluent</p>
                        </div>
                    </li>
                    <li class=" font-['Outfit'] text-white font-bold text-lg my-5">
                        <div>
                            <p class="text-white font-bold font-['Outfit'] inline pr-8">Turkish</p>
                            <p class="text-[#DBCDAA] font-bold font-['Outfit'] float-right pl-8">Beginner</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>