---
import { Image } from '@astrojs/image/components'
import EdenGardens from '../images/eden-gardens-ak.png';
---
<div id="contact" class="w-full h-full bg-[#171814] p-32">
    <div id="content-header" class="h-fit w-[85%] mx-auto pb-20 relative overflow-hidden">
        <div id="section-header" class="font-['SugarMagic'] text-white text-8xl text-end before:content-[''] before:absolute before:h-2 before:w-full before:top-[30%] before:mr-10 before:bg-[#DBCDAA] before:right-[25%]">Contact</div>
    </div>
    <div id="image" class="ml-32 float-left">
        {/* @ts-ignore */}
        <Image src={EdenGardens} alt="image" />
    </div>
    <div class="w-full">
        <ul class="list-disc flex flex-col items- gap-5"> {/* List disc  */}
            <li class="font-['SugarMagic'] text-5xl  my-5 text-end mx-32 ml-64 text-[#DBCDAA]"><a class=" hover:text-white transition duration-1000 ease-in-out" href="https://www.linkedin.com/in/akash-a-two47/">LinkedIn</a></li>
            <li class="font-['SugarMagic'] text-5xl  my-5 text-end mx-32 ml-64 text-[#DBCDAA]"><a class=" hover:text-white transition duration-1000 ease-in-out" href="https://dribbble.com/AK247">Dribble</a></li>
            <li class="font-['SugarMagic'] text-5xl  my-5 text-end mx-32 ml-64 text-[#DBCDAA]"><a class=" hover:text-white transition duration-1000 ease-in-out" href="https://www.behance.net/akasha22">Behance</a></li>
            <li class="font-['SugarMagic'] text-5xl  my-5 text-end mx-32 ml-64 text-[#DBCDAA]"><a class=" hover:text-white transition duration-1000 ease-in-out" href="https://drive.google.com/file/d/1kva6C8imlyEcAVQ8RCBD1Tkb-PpasTu-/view">Resume</a></li>
        </ul>
    </div>
    <div class="w-full flex justify-center pt-16">
        <p class="text-white font-['NewGate'] text-4xl mx-14">akash.aoffl@gmail.com</p>
        <div id="diamond" class="h-4 w-4 bg-[#DBCDAA] rotate-45 translate-y-[1rem]"></div>
        <p class="text-white font-['NewGate'] text-4xl mx-14"><a href="https://www.figma.com/proto/yrU0QeqYsnJMYZ6W3mZNiq/Portfolio?node-id=1%3A3&scaling=min-zoom&page-id=0%3A1&starting-point-node-id=1%3A3">view this Portfolio on Figma 🔗</a></p>
    </div>
</div>