---
import { Image } from '@astrojs/image/components';
import landingGrid2 from '../images/landing-grid-2.png';
import landingGrid3 from '../images/landing-grid-3.png';
---
<main class="bg-[url('/src/images/landing-bg.png')] bg-no-repeat bg-cover h-full">
    <div class="flex flex-col items-center justify-center h-fit pb-10">
        <div class="grid grid-cols-3 grid-rows-2 mt-[125px] h-fit w-[70%] gap-24 px-10">
            <div class="col-span-2 relative my-12">
                <div class="absolute h-full w-full z-10 hover:z-0 bg-[#DBCDAA] p-24">
                    <p class="text-8xl font-['SugarMagic']">Akash A</p>
                    <div class="float-right h-full w-full">
                        <p class="text-4xl text-right font-bold mt-4">DESIGNER</p>
                        <p class="text-4xl text-right font-bold mt-2">PORTFOLIO</p>
                    </div>
                </div>
                <div class="absolute h-full w-full z-0 hover:z-10 translate-x-8 translate-y-8 bg-black">
                    <p class="text-white font-['SugarMagic'] text-5xl p-24">Designing beyond the boundaries of reality</p>
                </div>
            </div>
            <div class="row-span-2">
                {/* @ts-ignore */}
                <Image src={landingGrid2} alt="Landing Page" class="min-h-full"/>
            </div>
            <div class="col-span-2 overflow-hidden">
                {/* @ts-ignore */}
                <Image src={landingGrid3} alt="Landing Page" class="m-auto" />
            </div>
        </div>
    </div>
</main>