---
import '../styles/global.css';
import logo from '../assets/ak-logo.png'
import {Image} from '@astrojs/image/components'
---
<nav class="flex justify-around p-5 bg-transparent absolute min-w-full">
    <Image src={logo} alt="logo" width={85} height={85} />
    <ul class="flex justify-end items-center gap-10 pr-5">
        <li class="font-['Poppins'] text-xl font-medium uppercase"><a class="hover:border-b-2 border-black py-2" href="#">Home</a></li>
        <li class="font-['Poppins'] text-xl font-medium uppercase"><a class="hover:border-b-2 border-black py-2" href="#aboutme">About</a></li>
        <li class="font-['Poppins'] text-xl font-medium uppercase"><a class="hover:border-b-2 border-black py-2" href="#my-work">My Works</a></li>
        <li class="font-['Poppins'] text-xl font-medium uppercase"><a class="hover:border-b-2 border-black py-2" href="#contact">Contact Me</a></li>
    </ul>
</nav>