---
import Volunteering from '../images/volunteering.png';
import Interests from '../images/interests.png';
---
<div id="volunteeringandinterests" class="p-16 w-[70%] mx-auto">
    <div id="volunteering" class="block">
        <div id="volun-image">
            <img src={Volunteering.src} alt="volunteering" class="float-left" />
        </div>
        <div id="volun-content" class="text-start">
            <div class="text-5xl font-['NewGate'] font-bold text-center my-5">Volunteering</div>
            <div class="text-xl font-bold font-['Outfit'] ml-[65%] my-5">Coding club</div>
            <div class="text-md  font-['Outfit'] ml-[65%] my-3">Event design</div>
            <div class="text-lg font-bold font-['Outfit'] ml-[65%]  my-5">Participated in organising and demonstrating a Web-Development workshop for students pursuing non- technical courses.</div>
        </div>
    </div>
    <div id="forhr" class="clear-both my-10 h-1 bg-[#DBCDAA] w-full">
        
    </div>
    <div id="interests" class="block overflow-hidden">
        <div id="inter-image">
            <img src={Interests.src} alt="interests" class="float-right h-[50%]" />
        </div>
        <div id="inter-content" class="text-start">
            <div class="text-5xl font-['NewGate'] font-bold my-5 text-center">Interests</div>
            <div class="">
                <ul class="list-disc"> {/* List disc  */}
                    <li class="font-['Outfit'] text-lg font-bold my-5 ml-[2%] text-center text-[#DBCDAA]"><span class="text-black">UI / UX Design</span></li>
                    <li class="font-['Outfit'] text-lg font-bold my-5 ml-[2%] text-center text-[#DBCDAA]"><span class="text-black">Graphic Design</span></li>
                    <li class="font-['Outfit'] text-lg font-bold my-5 ml-[2%] text-center text-[#DBCDAA]"><span class="text-black">Frontend Development</span></li>
                    <li class="font-['Outfit'] text-lg font-bold my-5 ml-[2%] text-center text-[#DBCDAA]"><span class="text-black">Photography</span></li>
                    <li class="font-['Outfit'] text-lg font-bold my-5 ml-[2%] text-center text-[#DBCDAA]"><span class="text-black">Game Design</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>