---
---
<div id="volunteeringandinterests" class="p-16 w-[70%] mx-auto">
    <div id="volunteering" class="block">
        <div id="volun-image">
            <img src="/src/assets/volunteering.png" alt="volunteering" class="float-left" />
        </div>
        <div id="volun-content" class="text-start">
            <div class="text-5xl font-['SugarMagic'] text-center my-5">Volunteering</div>
            <div class="text-xl font-bold font-['Outfit'] ml-[65%] my-5">Coding club</div>
            <div class="text-md  font-['Outfit'] ml-[65%] my-3">Event design</div>
            <div class="text-lg font-bold font-['Outfit'] ml-[65%]  my-5">Participated in organising and demonstrating a Web-Development workshop for students pursuing non- technical courses.</div>
        </div>
    </div>
    <div id="forhr" class="clear-both my-10 h-1 bg-[#DBCDAA] w-full">
        
    </div>
    <div id="interests" class="block overflow-hidden">
        <div id="inter-image">
            <img src="/src/assets/interests.png" alt="interests" class="float-right h-[50%]" />
        </div>
        <div id="inter-content" class="text-start">
            <div class="text-5xl font-['SugarMagic'] my-5 text-center">Interests</div>
            <div class="">
                <ul class="list-disc"> {/* List disc  */}
                    <li class="font-['Outfit'] text-lg font-bold my-5 text-center">UI / UX Design</li>
                    <li class="font-['Outfit'] text-lg font-bold my-5 text-center">Graphic Design</li>
                    <li class="font-['Outfit'] text-lg font-bold my-5 text-center">Frontend Development</li>
                    <li class="font-['Outfit'] text-lg font-bold my-5 text-center">Photography</li>
                    <li class="font-['Outfit'] text-lg font-bold my-5 text-center">Game Design</li>
                </ul>
            </div>
        </div>
    </div>
</div>